<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

	<p>Hey,</p>
	
	<p><%= @user.name %> (<%= @user.email %>) wrote:</p>
	
	<p><%= @user.body %></p>

	<p>Yours truly,</p>
	<p>Wedding Server</p>

</body>
</html>